:root {
  background-color: #242424;
  color: aliceblue;
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  grid-template-rows: 80px 1fr 80px;
}

.App-main {
  grid-area: main;
  background-color: #a0acc6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  grid-area: footer;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
